<div class="row justify-content-md-center">
  <div class="col-sm-10">
    <div class="form-container">
      <div class="form-header">
        <div class="row">
          <div class="col form-title">
            Agenda do Médico
          </div>
        </div>
      </div>

      <div class="form-body">

        <form [formGroup]="form" (ngSubmit)="OnSubmit()" autocomplete="off">
          <div class="form-group">
            <label for="doctorId">Médico</label>
            <select formControlName="doctorId" id="doctorId" 
              class="form-control form-control-sm" (change)="OnDoctorSelected($event.target.value)">
              <option *ngFor="let doc of doctors" [value]="doc.id">{{doc.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="startTime">Data Inicial</label>
            <input type="datetime-local" id="startTime" class="form-control form-control-sm"
              formControlName="startTime" [ngClass]="{
                    'is-invalid': f.startTime.dirty && f.startTime.errors,
                    'is-valid': f.startTime.dirty && !f.startTime.errors
                }">
                <!-- {{f.startTime.errors|json}} -->
          </div>

          <div class="form-group">
              <label for="endTime">Data Final</label>
              <input type="datetime-local" id="endTime" class="form-control form-control-sm"
                formControlName="endTime" [ngClass]="{
                      'is-invalid': f.endTime.dirty && f.endTime.errors,
                      'is-valid': f.endTime.dirty && !f.endTime.errors
                  }">
                  <!-- {{f.endTime.errors|json}} -->
            </div>
          <button type="submit" class="btn btn-sm btn-success" [disabled]="!form.valid">Cadastrar</button>
        </form>
      </div>

      <div class="table-responsive table-container">
        <table class="table table-hover">
          <thead>
            <th style="text-align: center">Início</th>
            <th style="text-align: center">Fim</th>
          </thead>
          <tbody>
            <tr *ngFor="let s of schedules">
              <td style="text-align: center">{{s.startTime|date:'short'}}</td>
              <td style="text-align: center">{{s.endTime|date:'short'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>