<div class="row justify-content-md-center">
  <div class="col-sm-10">
    <div class="form-container">
      <div class="form-header">
        <div class="row">
          <div class="col form-title">
            Médicos
          </div>
        </div>
      </div>

      <div class="form-body">
        <form [formGroup]="form" (ngSubmit)="OnSubmit()" autocomplete="off">

          <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" id="name" class="form-control form-control-sm" placeholder="ex.: Francisco Júnior"
              formControlName="name" [ngClass]="{
                'is-invalid': form.get('name').dirty && form.get('name').hasError('required'),
                'is-valid': form.get('name').dirty && !form.get('name').hasError('required')
              }">
          </div>

          <div class="form-group">
            <label for="crm">CRM</label>
            <!-- {{form.get('crm').errors|json}} -->
            <input type="text" id="crm" class="form-control form-control-sm" formControlName="crm" maxlength="11"
              placeholder="Informe o CRM do médico" [ngClass]="{
                                  'is-invalid': form.get('crm').dirty && (form.get('crm').hasError('crmExistente') || form.get('crm').hasError('required')),
                                  'is-valid': form.get('crm').dirty && !form.get('crm').hasError('crmExistente')
                        }">
            <div>
              <small *ngIf="form.get('crm').dirty && form.get('crm').status === 'PENDING'"
                class="form-text text-muted">Validando...</small>

              <small *ngIf="form.get('crm').dirty && form.get('crm').hasError('crmExistente')"
                class="form-text text-danger">O <strong>crm</strong> informado já está cadastrado.</small>
              <small *ngIf="form.get('crm').dirty && form.get('crm').hasError('crmInvalido')"
                class="form-text text-danger">O <strong>crm</strong> informado é inválido ou não existe.</small>
            </div>

          </div>

          <div class="form-check">
            <input type="checkbox" id="isGeneralist" class="form-check-input" formControlName="isGeneralist"
              (change)="onChangeIsGeneralist($event.target.checked)">
            <label for="isGeneralist" class="form-check-check">Clínico Geral</label>
          </div>

          <div class="form-group" [ngStyle]="{'display' : showSpecialties ? 'block' : 'none'}">
            <label for="specialtyId">Selecione uma Especialidade</label>
            <div class="input-group mb-3">
              <select class="form-control form-control-sm" formControlName="specialtyId" id="specialtyId"
                aria-label="Recipient's username">
                <option *ngFor="let s of specialties" [value]="s.id">{{s.name}}</option>
              </select>
              <div class="input-group-append">
                <button class="btn btn-sm btn-outline-success" type="button" data-toggle="modal"
                  data-target="#ExemploModalCentralizado"><i class="fas fa-plus"></i></button>
              </div>
            </div>
            <!-- {{form.get('specialtyId').errors|json}} -->
          </div>

          <button type="submit" class="btn btn-sm btn-success" [disabled]="!form.valid">Cadastrar</button>
        </form>
      </div>

      <div class="table-responsive table-container">
        <table class="table table-hover">
          <thead>
            <th>Nome</th>
            <th style="text-align: center">CRM</th>
            <th>Especialidade</th>
          </thead>
          <tbody>
            <tr *ngFor="let d of doctors">
              <td>{{d.name}}</td>
              <td style="text-align: center">{{d.crm}}</td>
              <td>{{d.specialty.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog"
  aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Adicionar Especialidade</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formSpecialty">
          <div class="form-group">
            <label for="specialtyName">Descrição</label>
            <input type="text" formControlName="specialtyName" id="specialtyName" class="form-control form-control-sm" placeholder="Ex.: Pediatria">
            {{specialtyFeedbackMessage}}
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-sm btn-success" (click)="registerSpecialty()">Cadastrar</button>
      </div>
    </div>
  </div>
</div>