<nav class="navbar navbar-dark bg-dark mb-5 fixed">
  <img src="../../../assets/clinicasim-bg.png" style="height: 48px; width: 64px;" class="navbar-brand"/>
  <!-- <span class="navbar-brand">Clínica SIM</span> -->
  
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link " [routerLink]="['/home']">Home</a>
      <a class="nav-item nav-link " [routerLink]="['/doctors']">Médicos</a>
      <a class="nav-item nav-link " [routerLink]="['/patients']">Pacientes</a>
      <a class="nav-item nav-link " [routerLink]="['/schedules']">Agenda</a>
      <a class="nav-item nav-link " [routerLink]="['/consultations']">Marcação de Consultas</a>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>