/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(238, 238, 238);
}

.form-container {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border: none;
    border-radius: 4px;
    /* box-shadow: 0px 0px 8px -5px rgb(168, 168, 168); */
    width: 100%;
    /* background-color: white; */
}

.form-header {
    /* border-bottom: 1px solid rgb(240, 240, 240); */
    margin-bottom: 30px;
}

.form-title {
    font-weight: 600;
    min-height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: left;
    font-size: larger;
}

.form-body {
    height: 100%;
    width: 100%;
}

.table-container{
    margin-top: 30px;
}