<div class="row justify-content-md-center">
  <div class="col-sm-10">
    <div class="form-container">
      <div class="form-header">
        <div class="row">
          <div class="col form-title">
            Pacientes
          </div>
        </div>
      </div>

      <div class="form-body">
        <form [formGroup]="form" (ngSubmit)="OnSubmit()" autocomplete="off">

          <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" id="name" class="form-control form-control-sm" placeholder="ex.: Francisco Júnior"
              formControlName="name" [ngClass]="{
                  'is-invalid': f.name.dirty && f.name.errors,
                  'is-valid': f.name.dirty && !f.name.errors
              }">
            <div *ngIf="f.name.dirty && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Informe o nome</div>
              <div *ngIf="f.name.errors.minlength">O nome deve conter pelo menos 3 caracteres</div>
            </div>
          </div>

          <div class="form-group">
            <label for="phone">Contato</label>
            <input type="text" id="phone" class="form-control form-control-sm" placeholder="Telefone Celular ou Fixo"
              formControlName="phone" [ngClass]="{
                        'is-invalid': f.phone.dirty && f.phone.errors,
                        'is-valid': f.phone.dirty && !f.phone.errors
              }">
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" class="form-control form-control-sm" placeholder="Informe seu melhor email"
              formControlName="email">
            <!-- {{form.get('email').errors|json}} -->
          </div>

          <div class="form-group">
            <label for="cpf">CPF</label>
            <input type="text" id="cpf" class="form-control form-control-sm" formControlName="cpf" maxlength="11"
              placeholder="Informe o CPF do paciente" [ngClass]="{
                        'is-invalid': f.cpf.dirty && f.cpf.errors,
                        'is-valid': f.cpf.dirty && !f.cpf.errors
              }">
            <!-- {{form.get('cpf').errors|json}} -->
          </div>
          <button type="submit" class="btn btn-sm btn-success" [disabled]="!form.valid">Cadastrar</button>
        </form>
      </div>

      <div class="table-responsive table-container">
        <table class="table table-hover">
          <thead>
            <th>Nome</th>
            <th style="text-align: center">CPF</th>
            <th>Contato</th>
          </thead>
          <tbody>
            <tr *ngFor="let p of patients">
              <td>{{p.name}}</td>
              <td style="text-align: center">{{p.cpf}}</td>
              <td>{{p.phone}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>