<div class="row justify-content-md-center">
    <div class="col-sm-10">
      <div class="form-container">
        <div class="form-header">
          <div class="row">
            <div class="col form-title">
              Marcação de Consultas
            </div>
          </div>
        </div>
  
        <div class="form-body">
  
          <form [formGroup]="form" (ngSubmit)="OnSubmit()" autocomplete="off">
            <div class="form-group">
              <label for="doctorId">Médico</label>
              <select formControlName="doctorId" id="doctorId" 
                class="form-control form-control-sm">
                <option *ngFor="let doc of doctors" [value]="doc.id">{{doc.name}}</option>
              </select>
            </div>
            <div class="form-group">
                <label for="patientId">Paciente</label>
                <select formControlName="patientId" id="patientId" 
                  class="form-control form-control-sm">
                  <option *ngFor="let p of patients" [value]="p.id">{{p.name}}</option>
                </select>
              </div>
            <div class="form-group">
              <label for="scheduledTime">Data / Hora da Consulta</label>
              <input type="datetime-local" id="scheduledTime" class="form-control form-control-sm"
                formControlName="scheduledTime" [ngClass]="{
                      'is-invalid': f.scheduledTime.dirty && f.scheduledTime.errors,
                      'is-valid': f.scheduledTime.dirty && !f.scheduledTime.errors
                  }">
                  <!-- {{f.scheduledTime.errors|json}} -->
            </div>
            <button type="submit" class="btn btn-sm btn-success" [disabled]="!form.valid">Marcar</button>
            <div class="form-group" style="text-align: center;">
              <h4>{{feedbackMessage}}</h4>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>